        <div ng-if="!dashboard.isEditing" class="col-xs-12">
          <h4>Create a New Article</h4>
          <hr/>

          <div ng-if="dashboard.errorCreateMessage" class="center_div login-fail-message-container bg-danger">
            {{dashboard.errorCreateMessage}}
          </div>
          <form class="create-form" role="form" name="form" 
                ng-submit="form.$valid && dashboard.createItem(dashboard.newItem)" novalidate>
              <div class="form-group">
                  <label>Article Title</label>
                  <input type="text" class="form-control" 
                         ng-model="dashboard.newItem.title"
                         name="title" 
                         placeholder="Enter title" required>
              </div>


              <div class="form-group">
                  <label>Text</label>
                  <textarea rows="10" cols="45" name="text" class="form-control"
                         ng-model="dashboard.newItem.text"
                         placeholder="Enter text" required=""></textarea>
              </div>
              <div class="form-group">
                  <label>Article Description</label>
                  <input type="text" class="form-control" 
                         ng-model="dashboard.newItem.description"
                         placeholder="Enter description" required>
              </div>
              <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control"
                         ng-model="dashboard.newItem.author" maxlength="30" 
                         placeholder="Enter Author" required>
              </div>
              <button type="submit" class="btn btn-info btn-lg" ng-click="dashboard.addSubmitClass($event)">Create</button>
          </form>
        </div>
        <!-- EDITING -->
        <div ng-if="dashboard.isEditing" class="col-xs-12">
            <h4>Editing {{dashboard.editedItem.title}}</h4>
            <hr/>
            <form class="edit-form" role="form"
                  ng-submit="dashboard.updateItem(dashboard.editedItem)" novalidate>
                <div class="form-group">
                    <label>Article Title</label>
                    <input type="text" class="form-control"
                           ng-model="dashboard.editedItem.title"
                           placeholder="Enter title">
                    <input type="hidden" ng-model="dashboard.editedItem.user_id" >
                </div>
                <div class="form-group">
                    <label>Text</label>
                    <textarea rows="10" cols="45" name="text" class="form-control"
                           ng-model="dashboard.editedItem.text"
                           placeholder="Enter text"></textarea>
                </div>
                <div class="form-group">
                    <label>Article Description</label>
                    <input type="text" class="form-control"
                           ng-model="dashboard.editedItem.description"
                           placeholder="Enter description">
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control"
                           ng-model="dashboard.editedItem.author"
                           placeholder="Enter Author">
                </div>
                <button type="submit" class="btn btn-info btn-lg">Save</button>
                <button ui-sref="new" type="button" class="btn btn-default btn-lg pull-right"
                        ng-click="dashboard.cancelEditing()">Cancel
                </button>
            </form>
        </div>
