        <div class="col-xs-12">
          <h4>Create a New Article</h4>
          <hr/>

          <div ng-if="dashboard.errorCreateMessage" class="center_div login-fail-message-container bg-danger">
            {{dashboard.errorCreateMessage}}
          </div>
          <form class="create-form" role="form" name="form" 
                ng-submit="form.$valid && dashboard.createItem(dashboard.newItem)" novalidate>
              <div class="form-group">
                  <label>Article Title</label>
                  <input type="text" class="form-control" 
                         ng-model="dashboard.newItem.title"
                         name="title" 
                         placeholder="Enter title" required>
              </div>


              <div class="form-group">
                  <label>Text</label>
                  <textarea rows="10" cols="45" name="text" class="form-control"
                         ng-model="dashboard.newItem.text"
                         placeholder="Enter text" required=""></textarea>
              </div>
              <div class="form-group">
                  <label>Article Description</label>
                  <input type="text" class="form-control" 
                         ng-model="dashboard.newItem.description"
                         placeholder="Enter description" required>
              </div>
              <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control"
                         ng-model="dashboard.newItem.author" maxlength="30" 
                         placeholder="Enter Author" required>
              </div>
              <button type="submit" class="btn btn-info btn-lg" ng-click="dashboard.addSubmitClass($event)">Create</button>
          </form>
        </div>