<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-8">
        Search: <input ng-model="query"><br/> 
        <hr/>
        {{filtered.length }} article(s) have been found.
        <div class="portal col" >        
            <div class="item col-sm-6 " 
                ui-sref="articles.edit"
                ng-repeat="(key, item) in filtered = (dashboard.items | filter: query)"
                ng-click="dashboard.setEditedItem(item)"
                ng-class="{'active':dashboard.isCurrentItem(item.id)}">
                <button type="button" ui-sref="articles.new" class="close" ng-click="dashboard.deleteItem(item.id)" >&times;</button>
                <h3>{{item.title}}</h3>
                <p>{{item.text}}</p>
                <p><strong>Written by - {{item.author}}.</strong></p>
                <p ng-if="item.email">Email: {{item.email}}</p>
                <p >{{item.description}}</p>
            </div>
        </div>
  </div>
  <div ui-view class="col-sm-4" >
  </div>
  </div>
</div>