<!doctype html>
<html lang="en" ng-app="articlesApp">
<head>
  <meta charset="utf-8">
  <title>Articles Base</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <!--<script src="gulp/app.js"></script>-->
  <script src="bower_components/angular/angular.js"></script>  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  
    <script src="app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script> 

  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script> 
  <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
</head>
    <body ng-controller="MainCtrl as main" ng-cloak>
        <nav ng-if="main.currentUser" class="navbar navbar-default">
            <button ng-if="main.currentUser" class=" pull-left btn btn-default navbar-btn">
                    <strong>{{main.currentUser.email}}</strong></button> 
            <button ng-if="main.currentUser" class=" pull-right btn btn-default navbar-btn"
                    ng-click="main.logout()">Logout </button>
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div ng-if="main.errorMessage" class="center_div login-fail-message-container bg-danger">
                          {{main.errorMessage}}
                </div>
                <div ui-view></div>
            </div>
        </div>
    </body>
</html>
