<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link href="{{css}}" type="text/css" rel="stylesheet">
</head>
<body>
    <div>
        <IMG SRC="{{SRC}}" ALT="some text" >
    </div>
</body>
</html>