<!DOCTYPE html>
<html>
<head>
    <title>Demo Crud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/first_task/publictask/public/css/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/first_task/publictask/public/css/demo.css" media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/first_task/publictask/public/js/crud.js"></script>
</head>
<body>

    <div class="form">
        <div class="left" style=" width:20%;float: left;">
            {{#if user._id}}
            <a href="/users" >Back to all</a>
            {{/if}}
            <form id="contactform" action="" method="post">
                {{#if user._id}}
                    <input type="hidden" id="_id" name="_id" value="{{user._id}}"><br>
                {{/if}}
                <p class="contact"><label for="first_name">First name:</label></p>
                <input id="first_name" name="first_name" rows="20" cols="60" value="{{user.first_name}}"><br>

                <p class="contact"><label for="last_name">Last name :</label></p>
                <input id="last_name" name="last_name" rows="20" cols="60" value="{{user.last_name}}"><br>

                <p class="contact"><label for="email">Email :</label></p>
                <input id="email" name="email" rows="20" cols="60" value="{{user.email}}"><br>
                <input id="users_crud_submit_button"
                    {{#if user._id}}
                        data-put="true"
                    {{/if}}
                    type="submit" value="{{button_text}}"
                />
            </form>
        </div>
        <div class="right" style=" width:80%;float: right;">
            {{{table}}}
        </div>
    </div>

</body>
</html>