<table style="width:80%; " border="2px">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Edit/Delete</th>
    </tr>
    {{#each users}}
    <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{modified}}</td>
            <td><a href="/users/{{_id}}"  data-id="{{_id}}" class="edite" >Edite</a> / <a href="#" data-id="{{_id}}" class="delete">Delete</a></td>

    </tr>
    {{/each}}

</table>
